/*
 * Inter self-hosted fonts — download from https://rsms.me/inter/ (free, SIL Open Font Licence)
 * and place these files in static/fonts/:
 *   inter-regular.woff2  (weight 400)
 *   inter-semibold.woff2 (weight 600)
 *   inter-bold.woff2     (weight 700)
 * Do not link to Google Fonts or any external font URL.
 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/inter-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/inter-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/inter-bold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: normal;
}

a,
button,
input,
label,
.card-base {
  touch-action: manipulation;
}

input,
textarea {
  scroll-margin-block: 20vh;
}
